<html>
	<head>
		<title>To Do list </title>
		<link rel="stylesheet" href="index.css">
	</head>
	<body>
		<h1>Welcome</h1>
		<form action="/added" method="POST" enctype = "multipart/form-data">
			<p>
				<input type="text" name="todos" placeholder ="enter todo list(comma seperated)">
			</p>
			<p>
				<input name="commit" type = "submit" value="Create">
			</p>
			
		</form>
		
	</body>
</html>