<html>
	<head>
		<title>todo list</title>
		<link rel="stylesheet" href="todo.css">
	</head>
	<body>
		<h1>Your  Todo List</h1>

		<ul>
			<li><%= @data[3]%></li>
		
			<li><%= @data[4]%></li>
			<li><%= @data[5]%></li>


		</ul>
	</body>
</html>